@model List<TestimonialListVM>
@{
    ViewData["Title"] = "GetTestimonialList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h5 class="card-title">Testimonials</h5>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="#">Testimonials</a></li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        <!-- Table with hoverable rows -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Title</th>
                    <th scope="col">CreateDate</th>
                    <th scope="col">Update Date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.Title</td>
                        <td>@item.CreateDate</td>
                        <td>@item.UpdateDate</td>
                        <td><a asp-area="Admin" asp-controller="Testimonial" asp-action="UpdateTestimonial" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-warning btn-sm">Edit</a></td>
                        <td><a asp-area="Admin" asp-controller="Testimonial" asp-action="DeleteTestimonial" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-danger btn-sm">Delete</a></td>
                    </tr>
                }

            </tbody>
        </table>
        <!-- End Table with hoverable rows -->
        <a asp-area="Admin" asp-controller="Testimonial" asp-action="AddTestimonial" class="btn btn-success btn-sm">Add Testimonial</a>
    </div>
</div>
