@model List<HomePageListVM>
@{
    ViewData["Title"] = "GetHomePageList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="#">Categories</a></li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">


        <!-- Table with hoverable rows -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Header</th>
                    <th scope="col">Video Link</th>
                    <th scope="col">Create Date</th>
                    <th scope="col">Update Date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Header</td>
                        @if(item.VideoLink == null || item.VideoLink ==string.Empty)
                        {
                            <td>Not Assigned</td>
                        }
                        else
                        {
                            <td>Assinged</td>
                        }
                        <td>@item.CreateDate</td>
                        <td>@item.UpdateDate</td>
                        <td><a asp-area="Admin" asp-controller="HomePage" asp-action="UpdateHomePage" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-warning btn-sm">Edit</a></td>
                        <td><a asp-area="Admin" asp-controller="HomePage" asp-action="DeleteHomePage" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-danger btn-sm">Delete</a></td>
                    </tr>
                }

            </tbody>
        </table>
        <!-- End Table with hoverable rows -->
        <a asp-area="Admin" asp-controller="HomePage" asp-action="AddHomePage" class="btn btn-success btn-sm">Add HomePage</a>
    </div>
</div>

