
@model List<UserVM>
@{
    ViewData["Title"] = "GetUserList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h5 class="card-title">User List</h5>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="#">Users</a></li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        <!-- Table with hoverable rows -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Claims</th>
                    <th scope="col">Claim Extend</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.UserRoles.FirstOrDefault()</td>
                        @if(@item.UserClaims!.FirstOrDefault()==null)
                        {
                            <td>User does not have claim</td>
                        }
                        else
                        {
                             <td>@item.UserClaims!.FirstOrDefault()!.Type</td>
                        }
                        @if (item.UserClaims.FirstOrDefault() != null)
                        {
                            if (Convert.ToDateTime(item.UserClaims.FirstOrDefault()!.Value) < DateTime.Now)
                            {
                                <td><a asp-area="Admin" asp-controller="Admin" asp-action="ExtendClaim" asp-route-username="@item.UserName" class="btn btn-warning btn-sm">Extend for 5 days</a></td>
                            }
                            else
                            {
                                <td>User has valid claim</td>
                            }
                           
                        }
                        else
                        {
                            <td>User does not have any claim</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

